<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/d88d3a614a.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img id="logo" src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
            <span class="search-box">
                <input type="text" placeholder="Buscar productos, marcas">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </span>
            <h3 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h3>
        </div>

        <a href="/" class="burger-menu">
            <span class="fa-stack fa-xl">
                <i class="fa-solid fa-square fa-stack-2x"></i>
                <i class="fa-solid fa-bars fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/">Creá tu cuenta</a> <i class="fa-solid fa-address-card"></i></li>
                <li><a href="/">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
    </header>
    <!--********************** MAIN BANNER **********************-->
    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>
    <!--********************** LOGIN FORM **********************-->
    <main class="login">
        <form action="/" method="post">
            <input type="text" name="usuario" placeholder="Nombre de usuario"><br>
            <input type="email" name="email" placeholder="usuario@gmail.com"><br>
            <input type="password" name="password" placeholder="Contraseña"><br>
            <input class="submit" type="submit" value="Enviar">     
        </form>
    </main>

<!--********************** Footer **********************-->
<footer>
    <div class="footer-pie">
        <div class="bloque">
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </div>
        <br>
        <div class="bloque">
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio
                deMercado Puntos.</p>
        </div>   
        <br>
        <div class="bloque">
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
            </p>
        </div>
    </div>
    <br>
    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</footer>
</body>
</html>